
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>List of Hotel</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <style>
    body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
  </style>
</head>

<body>
<div class="topnav">
  <a class="active" href="/page/all">Hotel California</a>
  <a href="/page/user">Visitor's Page</a>
  <a href="/page/admin">Admin</a>
  <a href="/page/owner">Owner</a>
  <a href="/page/manager">Manager</a>
  <a href="/page/customer">Customer</a>
  <a href="/logout">Log Out</a>
</div>

<div class="container">

  <h3>List of Hotel</h3>

  <hr/>

  <table class="table table-bordered table-striped">

    <thead>
    <tr>
      <th>Hotel Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel: ${hotelList}">
      <td th:text="${hotel.hotel_name}"></td>
      <td th:text="${hotel.description}"></td>

    </tr>
    </tbody>

  </table>
</div>


</body>

</html>